@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffcb9a;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-family: 'Parisienne', sans-serif;
    font-size: 24px;
    margin: 0;
    margin-right: 430px;
    margin-left: 700px;
}
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    margin-right: 5px;
}

.search-bar button {
    padding: 8px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
body:hover .scroll-to-top {
    display: block;
}

footer {

    background-color: #d9b08c;
}
.background-container {
    background: linear-gradient(90deg, #ffffff, #ffffff);
    padding: 20px;
    color: black;
}
li a {
    color: inherit;
    text-decoration: none;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}


.Rubriques {
    background-color: transparent;
}
header {
    background-color: #d9b08c;
    width: 100%;
}

.Haut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

nav.NewPage {
    display: flex;
    list-style: none;
}

.LogoSection img {
    width: 170px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    width: 80%;
    max-width: 400px; /* Ajustez la largeur selon vos besoins */
}
h2 {
    color: #2c3531;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

hr {
    margin: 10px;
    background-color: #ccc;
    border: 0;
    height: 1px;
    width: 100%;
}

.identite {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    width: 49%;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 6px;
    padding: 5px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

input:focus {
    border: 1px solid #1
